.contact-section {
    .contact-title {
      text-align: center;
      margin-bottom: 10px;
      padding: $size-small;
      font-size: 50px;
      font-weight: 900;
      text-shadow: 5px 20px rgba(198, 198, 198, 0.374);
    }
    .contact-text{
      font-size: 15px;
      text-align: center;
      font-style: italic
    }
    .contact-form-main-div {
      @include d-flex(flex, space-evenly, center);
      .contact-form {
        max-width: 900px;
        width: 100%;
        margin: 0 auto;
  
        .form-input-div {
          display: flex;
          justify-content: space-between;
          input {
            border: none;
            width: 420px;
            background-color: $color-gray-light;
            padding: 20px;
            border-radius: 40px;
            outline: none;
          }
          input:focus {
            border: 1px solid $color-yellow;
          }
        }
        .form-input {
          input {
            width: 100%;
            border: none;
            background-color: $color-gray-light;
            padding: 20px;
            border-radius: 40px;
            outline: none;
          }
          input:focus {
            border: 1px solid $color-yellow;
          }
          textarea {
            width: 100%;
            border: none;
            background-color: $color-gray-light;
            padding: 20px;
            border-radius: 40px;
            outline: none;
          }
          textarea:focus {
            border: 1px solid $color-yellow;
          }
        }
        .form-input-btn {
          button {
            background-color: $color-yellow;
            border: none;
            padding: 15px 30px;
            border-radius: 40px;
            color: $color-white;
            margin-top: 20px;
            outline: none;
            transition: 0.3s;
            &:hover {
              background-color: rgb(211, 136, 50);
            }
          }
        }
      }
      .conact-text-div {
        padding: 20px;
        .conact-text {
          max-width: 350px;
          width: 100%;
          i {
            font-size: $size-small - 10px;
            margin-bottom: 30px;
            color: $color-yellow;
          }
        }
        .social-icon-main-div {
          display: flex;
          a {
            text-decoration: none;
            .social-icon-div {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              @include d-flex(flex, center, center);
              margin-right: 15px;
              background-color: $color-yellow;
              color: $color-white;
              cursor: pointer;
            }
          }
        }
      }
    }
    @media (max-width: 580px) {
      .contact-title   {
        font-size: $size-small - 20px;
      }
    }
    @media (max-width: 1140px) {
      .contact-form-main-div {
        flex-direction: column;
        align-items: center;
        .contact-form {
          transform: scale(0.9);
          .form-input-btn {
            text-align: center;
          }
        }
        .conact-text-div {
          text-align: center;
          .social-icon-main-div{
            display: flex;
            justify-content: space-between;
          }
        }
        .airbnb-embed-frame{
          transform: scale(0.9);
        }
      }
    }
  
    @media (max-width: 750px) {
      .contact-form-main-div {
        flex-direction: column;
        align-items: center;
        .contact-form {
          transform: scale(0.9);
          .form-input-div {
            flex-direction: column;
            input {
              width: 100%;
              margin-top: $size-small - 20px;
            }
          }
          .form-input-btn {
            text-align: center;
          }
        }
        .conact-text-div {
          text-align: center;
          transform: scale(0.9);
        }
        .airbnb-embed-frame{
          transform: scale(0.8);
        }
      }
    }
  }
  