$primary-color: #434343;
$color-white: #fefefe;
$color-black: #000;
$color-gray: rgb(160 160 160 / 58.6%);
$color-yellow: rgb(252 143 0 / 79.4%);
$color-gray-2: rgb(198 198 198 / 37.4%);
$color-gray-light: rgb(217 217 217 / 37.4%);

$size-small: 50px;
$size-medium: 100px;
$size-large: 15px;

$percent-50: 50%;
$percent-100: 100%;

@keyframes drop-in {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }

  to {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-10px);
  }

  60% {
    transform: translateY(-8px);
  }
}

@mixin d-flex($flex, $content: null, $items: null) {
  display: $flex;

  @if $content {
    justify-content: $content;
  }

  @if $items {
    align-items: $items;
  }
}