<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Room2010</title>
    <meta name="description" content="Room2010" />
    <meta name="keywords" content="HTML, CSS, JavaScript" />
    <meta name="author" content="Laka Nodia" />
    <meta property="og:url" content="assets/img/sunset.png" />
    <meta property="og:type" content="Room2010" />
    <meta property="og:title" content="Room2010" />
    <meta property="og:description" content="GITA-JS Project" />
    <meta property="og:image" content="assets/img/sunset.png" />
    <link rel="icon" type="text/css" href="assets/img/sunset.png" />
    <link rel="stylesheet" href="assets/css/app.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header>
      <div class="navbar navbar-expand-lg navbar-light bg-light fixed-top p-0">
        <div class="container-fluid p-0">
          <div class="nav-div-left">
            <div class="name">
              <img src="assets/img/sun.png" alt="icon" />
              <strong>ORBI</strong>
              <p>BEACH TOWER</p>
            </div>
          </div>
          <button
            class="navbar-toggler me-2"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <nav
            class="collapse navbar-collapse justify-content-end navigation"
            id="navbarNav"
          >
            <ul class="navbar-nav">
              <li class="li-name">
                <a class="nav-link" href="#home">Home</a>
              </li>
              <li class="li-name">
                <a class="nav-link" href="#appliances">Appliances</a>
              </li>
              <li class="li-name">
                <a class="nav-link" href="#room">Photos</a>
              </li>
              <!-- <li class="li-name">
                <a class="nav-link" href="#eat">Where To Eat</a>
              </li> -->
              <li class="li-name">
                <a class="nav-link" href="#sights">Where To Go</a>
              </li>

              <li class="li-name">
                <a class="nav-link" href="#feedback">Feedback</a>
              </li>
              <li class="li-name">
                <a class="nav-link" href="#book">Book</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <section class="backround-section" id="home">
      <div class="backround-div">
        <div class="backround-text">
          <h1 class="title"> Room 2010</h2>
          <h4 class="title-city"> In Batumi</h4>

          <p class="decsription">
            Relax in cozy aparthotel in Batumi, high up on the 21st floor with beautiful views of the boulevard and sea.
          </p>
          <a href="#appliances">
            <i class="fa-solid fa-chevron-down icon-arrow"></i
          ></a>
        </div>
      </div>
    </section>

    <section class="services-section" id="appliances">
      <h2 class="services-title">Appliances</h2>
      <div class="services-container">
        <div class="services-div">
          <i class="fa-solid fa-utensils service-icon"></i>

          <h3 class="service-title">Kitchen and dining</h3>
          <p class="service-text">
            Kitchen,
            Refrigerator,
            Microwave,
            Dishes and silverware,
            Bowls, chopsticks, plates, cups, etc.
            Coffee maker,
            Dining table.
          </p>
        </div>
        <div class="services-div">
          <i class="fa-solid fa-bath service-icon"></i>
          <h3 class="service-title">Bathroom</h3>
          <p class="service-text">
            Hair dryer, Shampoo, Conditioner, Hot water, Shower gel
          </p>
        </div>
        <div class="services-div">
          <i class="fa-solid fa-tv service-icon"></i>
          <h3 class="service-title">Bedroom and laundry</h3>
          <p class="service-text">
            30" HDTV with standard cable, Wifi,
            Essentials, Towels, bed sheets, soap, and toilet paper
          </p>
        </div>
        <div class="services-div">
          <i class="fa-solid fa-temperature-high service-icon"></i>
          <i class="fa-solid fa-snowflake service-icon"></i>
          <h3 class="service-title">Heating and cooling</h3>
          <p class="service-text">
            Central air conditioning,
            Window AC unit,
            Heating
          </p>
        </div>
        <div class="services-div">
          <i class="fa-solid fa-camera-retro service-icon"></i>
          <h3 class="service-title">Scenic views</h3>
          <p class="service-text">
            Bay view,
            Beach view,
            Mountain view,
            Park view,
            Sea view,
            Garden view.
          </p>
        </div>
        <div class="services-div">
          <i class="fa-solid fa-map-location-dot service-icon"></i>
          <h3 class="service-title">Outdoor and Services</h3>
          <p class="service-text">
            Private patio or balcony, Outdoor furniture,
            Outdoor dining area, Elevator, Self check-in, Building staff

          </p>
        </div>
      </div>
    </section>

    <section class="room-section" id="room">
      <h2 class="room-title">Photos</h2>
      <div class="room-main-div">
        <div class="room-flex-div">
          <div class="room-div">
            <img class="img-block" src="assets/img/beach-tower-room.jpeg" alt="img-room" />

            <div class="overlay">
              <div class="text">Room</div>
            </div>
          </div>
          <div class="room-div">
            <img src="assets/img/view-two.jpeg" alt="img-room" class="img-block" />
            <div class="overlay">
              <div class="text"> Balcony</div>
            </div>
          </div>
        </div>

        <div class="room-flex-div">
          <div class="room-div">
            <img class="img-block" src="assets/img/reception.jpeg" alt="img-room" />

            <div class="overlay">
              <div class="text">Reception</div>
            </div>
          </div>

          <div class="room-div">
            <img class="img-block" src="assets/img/kitchen.jpeg" alt="img-room" />
            <div class="overlay">
              <div class="text">Kitchen</div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- <section class="food-section" id="eat">
      <h2 class="food-title">Where To Eat</h2>

      <div class="food-container">
        <div class="food-div">
          <img class="food-img" src="assets/img/stake.jpg" alt="steak" />
          <div class="text-food-div">
            <h3>Steaks</h3>
            <p>Lorem ipsum dolor sit amet.</p>
            <i class="fa-regular fa-hand"></i>
          </div>
        </div>
        <div class="food-div">
          <img class="food-img" src="assets/img/burger.jpg" alt="burger" />
          <div class="text-food-div">
            <h3>Burgers</h3>
            <p>Lorem ipsum dolor sit amet.</p>
            <i class="fa-regular fa-hand"></i>
          </div>
        </div>
        <div class="food-div">
          <img class="food-img" src="assets/img/dessert.jpg" alt="dessert" />
          <div class="text-food-div">
            <h3>Desserts</h3>
            <p>Lorem ipsum dolor sit amet.</p>
            <i class="fa-regular fa-hand"></i>
          </div>
        </div>
      </div>
    </section> -->

    <section class="sightseeing-section" id="sights">
      <h2 class="sightseeing-title">Where To Go</h2>
      <div class="sightseeing-container">
        <div class="sightseeing-div-1">
        <a href="https://maps.app.goo.gl/6SfamZ8mzFzuLLKi9" target="_blank">
          <img
          class="sightseeing-img-1"
          src="assets/img/sight-1.jpeg"
          alt="sightseeing-img"
          />
        </a>
        <a href="https://maps.app.goo.gl/6SfamZ8mzFzuLLKi9" target="_blank">

          <span class="text-overlay">Dancing Fountains</span>
        </a>

        </div>
        <div class="sightseeing-div-2">
          <a href="https://maps.app.goo.gl/nibC8epxBNbQERqU9" target="_blank">
            <img
            class="sightseeing-img-2"
            src="assets/img/sight-2.jpeg"
            alt="sightseeing-img"
          />
          </a>

          <a href="https://maps.app.goo.gl/nibC8epxBNbQERqU9" target="_blank">
            <span class="text-overlay">Ali & Nino monument</span>
          </a>

        </div>
        <div class="sightseeing-div-3">

          <a href="https://maps.app.goo.gl/y8Hxb9KAbQhEDAX76" target="_blank">
            <img
            class="sightseeing-img-3"
            src="assets/img/sight-3.jpeg"
            alt="sightseeing-img"
          />
          </a>
          <a href="https://maps.app.goo.gl/y8Hxb9KAbQhEDAX76" target="_blank">
            <span class="text-overlay">Batumi Piazza Square</span>
          </a>

        </div>
        <div class="sightseeing-div-4">
          <a href="https://maps.app.goo.gl/cDMVFEycgeqfgTsN7" target="_blank">
          <img
            class="sightseeing-img-4"
            src="assets/img/sight-9.jpeg"
            alt="sightseeing-img"
          />
          </a>
          <a href="https://maps.app.goo.gl/y8Hxb9KAbQhEDAX76" target="_blank">
            <span class="text-overlay">Batumi Dolphinarium</span>
          </a>

        </div>
        <div class="sightseeing-div-5">
          <a href="https://maps.app.goo.gl/TLTdbfNRHn7RPHhC9" target="_blank">
            <img
            class="sightseeing-img-5"
            src="assets/img/sight-5.jpeg"
            alt="sightseeing-img"
          />
          </a>

          <a href="https://maps.app.goo.gl/TLTdbfNRHn7RPHhC9" target="_blank">
            <span class="text-overlay"> Argo Cable Car</span>
          </a>
         
        </div>
        <div class="sightseeing-div-6">
          <a href="https://maps.app.goo.gl/d8FDxEobwBpWvqQTA" target="_blank">
            <img
            class="sightseeing-img-6"
            src="assets/img/sight-11.jpeg"
            alt="sightseeing-img"
          />
          </a>

          <a href="https://maps.app.goo.gl/d8FDxEobwBpWvqQTA" target="_blank">
            <span class="text-overlay">Batumi Botanical Garden</span>
          </a>

        </div>
      </div>
    </section>


    <section class="feedback-section" id="feedback">
      <h2 class="feedback-title">Feedback</h2>
      <div
        id="carouselExampleIndicators"
        class="carousel slide border border-3 m-3 p-3"
      >
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0"
            class="active bg-warning"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="1"
            aria-label="Slide 2"
            class="bg-warning"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="2"
            aria-label="Slide 3"
            class="bg-warning"
          ></button>

          <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="3"
          aria-label="Slide 4"
          class="bg-warning"
        ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="m-auto feedback p-3">
              <div class="d-flex align-items-center">
                <div
                  class="bg-warning rounded-circle d-flex justify-content-center align-items-center me-3 icon-user"
                >
                <img class="avatar-image" src="https://a0.muscache.com/im/pictures/user/193be2b1-cfa0-4d28-b512-7a16d5f9495d.jpg?im_w=240" >
                
                </div>
                <div class="avatar-texts">
                  <h4>Victoria</h4>
                  <p class="p-0 m-0 fst-italic text-city" >Foster City, California</p>
                  <div class="feedback-stars">
                    <div class="stars">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                    </div>
                    <p class="p-0 m-0 text-time">January 2024</p>
                  </div>
                  
                </div>
              </div>
              <p class="fst-italic mt-4">
                <span>
                  <span>
                    <i class="fa-solid fa-quote-left me-1 fst-italic"></i>
                  </span>
                </span>
                  This apartment exceeded all of our expectations and provided us with an incredibly comfortable and enjoyable living experience. From the moment we stepped inside, we were captivated by the stunning views and the attention to detail that was evident in every aspect of the space. The apartment was thoughtfully designed and decorated, creating a warm and inviting atmosphere that made us feel right at home. The level of care and love that went into creating this space was truly remarkable. We couldn't have asked for a better place to stay.
                <span>
                  <i class="fa-solid fa-quote-left ms-1 fst-italic"></i>
                </span>
              </p>
            </div>
          </div>

          <div class="carousel-item">
            <div class="m-auto feedback p-3">
              <div class="d-flex align-items-center">
                <div
                  class="bg-warning rounded-circle d-flex justify-content-center align-items-center me-3 icon-user"
                >
                <img class="avatar-image" src="https://a0.muscache.com/im/pictures/user/e61458ee-9ed0-491d-b06b-9ef96e93ba55.jpg?im_w=240" >

                </div>
                <div  class="avatar-texts">
                  <h4> Amani </h4>
                  <p class="p-0 m-0 fst-italic text-city">Atlanta, Georgia</p>
                  <div class="feedback-stars">
                    <div class="stars">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                    </div>
                    <p class="p-0 m-0 text-time">October 2023</p>
                  </div>
                
                </div>
              </div>
              <p class="fst-italic mt-4">
                <span>
                  <span>
                    <i class="fa-solid fa-quote-left me-1 fst-italic"></i>
                  </span>
                </span>
                Beautiful view, everything was clean, I had to purchase cleaning products and laundry detergent but everything else that was needed was there or provided. Great value!
                <span>
                  <i class="fa-solid fa-quote-left ms-1 fst-italic"></i>
                </span>
              </p>
            </div>
          </div>

          <div class="carousel-item">
            <div class="m-auto feedback p-3">
              <div class="d-flex align-items-center">
                <div
                  class="bg-warning rounded-circle d-flex justify-content-center align-items-center me-3 icon-user"
                >
                <img class="avatar-image" src="https://a0.muscache.com/im/pictures/user/4ac09b06-d52c-46fb-a8eb-46097fdaab99.jpg?im_w=240" >
                </div>
                <div class="avatar-texts">
                  <h4>Aleksandr</h4>
                  <div class="feedback-stars">
                    <div class="stars">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                    </div>
                    <p class="p-0 m-0 text-time">January 2023</p>
                  </div>
                </div>
              </div>
              <p class="fst-italic mt-3">
                <span>
                  <span>
                    <i class="fa-solid fa-quote-left me-1 fst-italic"></i>
                  </span>
                </span>
                The place is fully consistent with the photos, the host is always available.
                Excellent view,close to a large shopping center. I liked everything.
                <span>
                  <i class="fa-solid fa-quote-left ms-1 fst-italic"></i>
                </span>
              </p>
            </div>
          </div>

          <div class="carousel-item">
            <div class="m-auto feedback p-3">
              <div class="d-flex align-items-center">
                <div
                  class="bg-warning rounded-circle d-flex justify-content-center align-items-center me-3 icon-user"
                >
                <img class="avatar-image" src="https://a0.muscache.com/im/pictures/user/7d2bf3a0-f607-4fff-a87d-3e8c2f158217.jpg?im_w=240" >
                </div>
                <div class="avatar-texts">
                  <h4>Shmulik</h4>
                  <p class="p-0 m-0 fst-italic text-city">Herzliya, Israel</p>
                  <div class="feedback-stars">
                    <div class="stars">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                    </div>
                    <p class="p-0 m-0 text-time">October 2022
                    </p>
                  </div>
                </div>
              </div>
              <p class="fst-italic mt-3">
                <span>
                  <span>
                    <i class="fa-solid fa-quote-left me-1 fst-italic"></i>
                  </span>
                </span>
                Excellent location
                beautifully arranged apartment well equipped and has everything you need to enjoy.
                The apartment owner is always available and answers everything you need.
                I will definitely come back.
                <span>
                  <i class="fa-solid fa-quote-left ms-1 fst-italic"></i>
                </span>
              </p>
            </div>
          </div>

        </div>

        <button
          class="carousel-control-prev btn"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev"
        >
          <span
            class="carousel-control-prev-icon bg-warning p-4 rounded-circle"
            aria-hidden="true"
          ></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next btn"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next"
        >
          <span
            class="carousel-control-next-icon bg-warning p-4 rounded-circle"
            aria-hidden="true"
          ></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>

    <section class="contact-section" id="book">
      <h2 class="contact-title">Book Apartment</h2>

      <div class="contact-form-main-div">
        <div class="conact-text-div">
          <div class="conact-text">
            <i class="fa-solid fa-map-location-dot"></i>
            <h4>Location</h4>
            <p>Batumi,
              57 Sherif Khimshiashvili St.</p>
          </div>
          <div class="social-icon-main-div">
            <a href="https://www.facebook.com/beachtower2010" target="_blank">
              <div class="social-icon-div">
                <i class="fa-brands fa-facebook-f"></i></div
            ></a>

            <a href="https://www.instagram.com/beachtower2010/" target="_blank">
              <div class="social-icon-div">
                <i class="fa-brands fa-instagram"></i>
              </div>
            </a>

            <a href="https://airbnb.com/h/room2010" target="_blank">
              <div class="social-icon-div">
                <i class="fa-brands fa-airbnb"></i>
              </div>
            </a>
          </div>
        </div>

         {% include "embeds/airbnb.njk" %}

      </div>
    </section>

    <section class="map-section">
      <div class="map-div">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2982.188546487936!2d41.59745004799485!3d41.63005580707158!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4067859c7f1a6913%3A0x4a2e121fd887dc08!2sOrbi%20Beach%20Tower%20Hotel%20Official!5e0!3m2!1sen!2sge!4v1705211864439!5m2!1sen!2sge"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </section>

    <footer class="footer-section">
      <div class="footer-div">
        <div class="footer-text-div">
          <h4>APARTMENT</h4>
          <p>
            Apartment is located in Batumi, 50 meters from the beach,
            It is on the 20th floor, where you can enjoy with wonderful view and comfortable environment.
          </p>
          <div class="social-icon-main-div">
            <a href="https://www.facebook.com/beachtower2010" target="_blank">
              <div class="social-icon-div">
                <i class="fa-brands fa-facebook-f"></i></div
            ></a>

            <a href="https://www.instagram.com/beachtower2010/" target="_blank">
              <div class="social-icon-div">
                <i class="fa-brands fa-instagram"></i>
              </div>
            </a>

            <a href="https://airbnb.com/h/room2010" target="_blank">
              <div class="social-icon-div">
                <i class="fa-brands fa-airbnb"></i>
              </div>
            </a>
          </div>
        </div>

        <!-- <div class="footer-text-div">
          <h5>Short Review</h6>
          <ul>
            <li>Appliances</li>
            <li>Photos</li>
            <li>Feedback</li>
            <li>Book Now  </li>
          </ul>
        </div> -->

        <div class="footer-text-div">
          <h4>CONTACT US</h6>
          <p>
            <strong>Address :</strong> Batumi,
            57 Sherif Khimshiashvili St.
          </p>
        </div>

        <div class="footer-img-div">
     

          <div class="instagram-posts">
            <h2>INSTAGRAM </h2>
              {% include "embeds/instagram.njk" %}
          </div>
        </div>
      </div>
      <div class="line"></div>
    </footer>
    <script
      src="assets/js/app.min.js"
      defer
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
      defer
    ></script>
  </body>
</html>
